.consent_sign_footer {
  display: flex;
}

/*  PopUp */

#action-done-genecoop-plugin {
  width: 300px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none
}

.close {
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  background: #2196F3;
  display: inline-block;
  /* border-radius: 1px solid #000; */
}