:root {
    --color-bg-page: #F2F2F2;
    --color-bg-pane: #FFFFFF;
    --color-purple: #AE0FBA;
    --color-green: #05AA63;
    --color-red: #CC2206;
    --color-yellow: #DBDB0B;

    --font-default: "IBM Plex Sans", sans-serif;
    --font-headers: "iA Writer Quattro", sans-serif;
}

/* RESETS */
*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('fonts/ibm-plex-sans-v8-latin-ext_latin-regular.woff2') format('woff2'),
        url('fonts/ibm-plex-sans-v8-latin-ext_latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('fonts/ibm-plex-sans-v8-latin-ext_latin-italic.woff2') format('woff2'),
        url('fonts/ibm-plex-sans-v8-latin-ext_latin-italic.woff') format('woff');
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('fonts/ibm-plex-sans-v8-latin-ext_latin-600.woff2') format('woff2'),
        url('fonts/ibm-plex-sans-v8-latin-ext_latin-600.woff') format('woff');
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 700;
    src: local(''),
        url('fonts/ibm-plex-sans-v8-latin-ext_latin-600italic.woff2') format('woff2'),
        url('fonts/ibm-plex-sans-v8-latin-ext_latin-600italic.woff') format('woff');
}

@font-face {
    font-family: 'iA Writer Quattro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('fonts/iAWriterQuattroS-Regular.woff2') format('woff2'),
        url('fonts/iAWriterQuattroS-Regular.woff') format('woff');
}

@font-face {
    font-family: 'iA Writer Quattro';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('fonts/iAWriterQuattroS-Italic.woff2') format('woff2'),
        url('fonts/iAWriterQuattroS-Italic.woff') format('woff');
}

@font-face {
    font-family: 'iA Writer Quattro';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('fonts/iAWriterQuattroS-Bold.woff2') format('woff2'),
        url('fonts/iAWriterQuattroS-Bold.woff') format('woff');
}

@font-face {
    font-family: 'iA Writer Quattro';
    font-style: italic;
    font-weight: 700;
    src: local(''),
        url('fonts/iAWriterQuattroS-BoldItalic.woff2') format('woff2'),
        url('fonts/iAWriterQuattroS-BoldItalic.woff') format('woff');
}


/* LAYOUT */
body {
    background-color: var(--color-bg-page);
}

.wrapper {
    margin: 0 auto;
    width: 844px;
    max-width: calc(100% - 6vw);
}

.pane {
    background-color: var(--color-bg-pane);
    border-left: 3px solid var(--color-yellow);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.flow>* {
    margin: 0;
}

.flow>*+* {
    margin-top: 1.5em;
}



/* TYPOGRAPHY */
body,
input,
textarea {
    font-family: var(--font-default);
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-headers);
    font-style: italic;
}

h1,
h2,
h3 {
    line-height: 1.15;
}

h4,
h5 {
    line-height: 1.35;
}

a {
    color: #000;
}

/* NAVIGATION */
nav {
    background-color: var(--color-bg-pane);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    padding: 1rem 1.5rem;
}

nav #logo {
    height: 70px;
    width: auto;
}

nav ul {
    list-style: none;
    margin: 1rem 0 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-end;
}

nav ul a {
    font-family: var(--font-headers);
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
}

nav ul a {
    border-bottom: 0px solid var(--color-green);
}

nav ul a:hover {
    border-bottom: 3px solid var(--color-green);
    transition: all 100ms ease;
}

nav ul li.main,
nav ul li.user {
    margin: 0 0 0 auto;
}

/* all except first with class selector */
nav ul li.main~li.main,
nav ul li.user~li.user {
    margin: 0 0 0 2rem;
}


/* FORMS */
.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.form-row>* {
    min-width: 12rem;
}

.form-row>label {
    width: 12rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.form-buttons {
    text-align: right;
}

input,
textarea {
    font-size: 1rem;
}


/* LOGIN PAGE */
.page__login .wrapper {
    min-height: 100vh;
    display: flex;
}

.page__login .wrapper .pane {
    margin: auto;
    min-height: 5rem;
    width: 470px;
}

/* .page__login input#username {
  visibility: hidden;
}
.page__login input#username[value] {
  visibility: visible;
} */