{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Researcher Space</title>
    <link rel="stylesheet" type="text/css" href="{% static 'researcher_req/login.css' %}">
</head>

<body>


{% if request.user.is_authenticated %}

    {% include "header.html" %}

{% else %}

<!-- Credit https://codepen.io/danzawadzki/pen/EgqKRr  -->
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Sign In </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="{% static 'researcher_req/images/logo_64.png' %}" id="icon" alt="GeneCoop" />
        </div>
        
        <!-- Login Form -->
        <form action="{% url 'researcher_req:check_login' %}" method="post">
            {% csrf_token %}
            <input type="hidden" id="challenge" name="challenge" value={{ challenge }}>
            <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
            <input type="hidden" id="response" class="fadeIn third" name="response" placeholder="response">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
    </div>
</div>

{% endif %}