{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Request</title>
    <link rel="stylesheet" type="text/css" href="{% static 'researcher_req/style.css' %}">
</head>

<body>

    <div><a href="{% url 'researcher_req:index' %}">Home</a></div>
    <div class="container">
        <h2>Request</h2>

        <form action="{% url 'researcher_req:gentoken' %}" method="post">
            {% csrf_token %}
            <ul class="responsive-table">
                <li class="table-header">
                    <div class="col col-1">Name of Request</div>
                    <div class="col col-2">Request Description</div>
                    <div class="col col-3">Operations</div>
                    <div class="col col-4">User id</div>
                    <div class="col col-4">Token</div>
                </li>
                <li class="table-row">
                    <div class="col col-1" data-label="Name">{{request.text }}</div>
                    <div class="col col-2" data-label="Description">{{ request.description }}</div>
                    <div class="col col-3" data-label="Operations">
                        {% for operation in request.operations %}
                        <ul>
                            <li id="minim">{{ operation.text }}</li>
                        </ul>
                        {% endfor %}
                    </div>
                    <div class="col col-4" data-label="Userid">{{ request.user_id }}</div>
                    <div class="col col-5" data-label="Token">{{ request.token }}</div>
                </li>
                <li class="table-row">
                    <input type="hidden" id="requestID" name="requestID" value={{request.id}}>
                    <div class="col col-1" data-label="Submit"><input type="submit" value="Generate Token"></div>
                </li>
            </ul>
        </form>
    </div>
</body>

</html>