__pycache__/
.secret_key
db.sqlite3
djangodebug.log
.DS_Store
.researcher.json
.superuser.json
.institute.json

Demonstrator/zencoop/*.keys
zenpage.bundle.js
create_proof.data
verify_proof.data
sign.data
verify_signature.data
node_modules/
.web-extension-id
web-ext-artifacts/
Demonstrator/Tests
*.log
