{% load static %}
<nav>
    <a href="{% url 'researcher_app:index' %}">
        <img id="logo" src="{% static 'researcher_app/images/logo.svg' %}" alt="Logo GeneConsent" />
    </a>
    <ul>
        <li class="main"><a href="{% url 'researcher_app:index' %}">Requests</a></li>
        <li class="main"><a href="{% url 'researcher_app:prepare_request' %}">Create Request</a></li>
        <!-- <li class="main"><a href="https://waag.org/en/project/gene-coop" target="_blank">About</a></li> -->
        <li class="user"><a href="{% url 'researcher_app:profile' %}">{{ request.user }}</a></li>
        <li class="user"><a href="{% url 'researcher_app:logout' %}">Logout</a></li>
    </ul>
</nav>