{% extends 'base_res.html' %}

{% block title %}Verifiable Credential{% endblock %}


{% block content %}

<div class="container">
    <h2>Consent</h2>

<div>
Consent <a href="{{vc.id }}">{{vc.id }}</a> with name "{{ vc.name }}" has been given by <a href="{{ vc.given_by }}">{{ vc.given_by }}</a> to <a href="{{ vc.given_to }}">{{ vc.given_to }}</a> on the {{ vc.issuedate }} via issuer <a href="{{ vc.issuer}}">{{ vc.issuer}}</a>
</div>

    <h3>Allowed Experiments</h3>
    <ul>
        {% for experiment in vc.allowed_exps %}
        <li>
            Experiment <a href="{{experiment.id }}">{{experiment.id }}</a> with name "{{ experiment.name }}"
        </li>
        {% endfor %}
    </ul>

    <h3>Not Allowed Experiments</h3>
    <ul>
        {% for experiment in vc.non_allowed_exps %}
        <li>
            Experiment <a href="{{experiment.id }}">{{experiment.id }}</a> with name "{{ experiment.name }}"
        </li>
        {% endfor %}
    </ul>

    <h3>Conditions</h3>
    <ul>
        {% for obligation in vc.obligations %}
        <li>
            Obligation <a href="{{obligation.action }}">{{obligation.action }}</a> for parties <a href="{{obligation.parties }}">{{obligation.parties }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<h3>VC</h3>
<h4>Original</h4>
{{ vc.orig_vc}}
<h4>Normalized</h4>
{{ vc.norm_vc}}

{% endblock %}