html, body {
  height: 100%;
}

body {
  background-color: var(--color-bg-page);
}

#layout {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.wrapper {
  margin: 0 auto;
  width: 844px;
  max-width: calc(100% - 6vw);
}

.wrapper + .wrapper {
  margin-top: 5rem;
}

.pane {
  background-color: var(--color-bg-pane);
  border-left: 3px solid var(--color-yellow);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

a.pane {
  position: relative;
  left: 0;
  display: block;
  text-decoration: none;

  &:hover {
    left: 2px;
    transition: all 100ms ease;
  }
}

.flow > * {
  margin: 0;
}

.flow > * + * {
  margin-top: 2em;
}

footer {
  margin-top: 5rem;
}