.page__login {
  .wrapper {
    min-height: 100vh;
    display: flex;

    .pane {
      margin: auto;
      min-height: 5rem;
      width: 470px;
    }
  }

  #logo {
    width: 70%;
    display: block;
    margin: 0 auto 5rem;
  }

  .instruction {
    text-align: center;
  }

  form {
    margin-top: 3rem;
  }
}
