.request {
  .top-right {
    margin-bottom: 1rem;

    @media (min-width: 400px) {
      float: right;
      text-align: right;
    }
  }


  h3 + ul {
    margin-top: 0;
  }

  .experiment {
    margin-top: 3rem;
  }

  section {
    border-top: 3px solid var(--color-yellow);
    border-top: 3px dashed black;
    margin-top: 3rem;
    padding-top: 3rem;
  }
}


.requests .request {
  h2 {
    margin-top: 0;
  }
}

