:root {
  --color-bg-page: #F2F2F2;
  --color-bg-pane: #FFFFFF;
  --color-purple: #AE0FBA;
  --color-green: #05AA63;
  --color-red: #CC2206;
  --color-yellow: #DBDB0B;

  
  --color-grey: #D3D3D3;
  --color-grey-light: #EAEAEA;
  --color-grey-dark: #9E9E9E;

  --font-default: "IBM Plex Sans", sans-serif;
  --font-headers: "iA Writer Quattro", sans-serif;
}

.researcher {
  --color-accent: var(--color-purple);
}

.donor {
  --color-accent: var(--color-yellow);
}