{% extends 'base_user.html' %}

{% block title %}GeneCoop Consent{% endblock %}

{% block content %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container">
    <h2>Consent Overview</h2>

    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-14">Name of Consent</div>
            <div class="col col-24">Description</div>
            <div class="col col-34">Experiments</div>
            <div class="col col-44">Token</div>
        </li>
        <li class="table-row">
            <div class="col col-14" data-label="Name"><a href="{% url 'donor_app:consent' consent.token %}">{{consent.name}}</a></div>
            <div class="col col-24" data-label="Description">{{consent.description}}</div>

            <div class="col col-34" data-label="Experiments">
                <ul class="responsive-table">
                    {% for experiment in consent.experiments %}
                    <li class="table-row">
                        <div class="col col-34" data-label="Name">{{ experiment.name}}</div>
                        <!-- <div class="col col-24" data-label="Description">{{ experiment.description}}</div> -->
                        <div class="col col-44" data-label="Options">
                            <ul>
                                {% for option in experiment.options %}
                                {% if option.id == experiment.chosen_option %}
                                <li id="minim"><b>{{ option.name }}</b></li>
                                {% else %}
                                <li id="minim">{{ option.name }}</li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col col-44" data-label="Token">{{consent.token}}</div>
        </li>
    </ul>
</div>
<div class="container">
    <h2>Experiment Overview</h2>

    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-13">Time</div>
            <div class="col col-23">Type</div>
            <div class="col col-33">Message</div>
            
        </li>
        {% for log in consent.logs %}
        <li class="table-row">
            <div class="col col-13" data-label="Time">{{ log.time }}</div>
            <div class="col col-23" data-label="Message">{{ log.type }}</div>
            <div class="col col-33" data-label="Type">{{ log.message }}</div>
            
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}