{% extends 'base_user.html' %}

{% block title %}GeneConsent - Consent{% endblock %}

{% block content %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="wrapper">
  <h1>Consent Overview</h1>

  <div class="pane consent">
    <div class="top-right">
      <div class="token">{{ consent.token }}</div>
    </div>

    <h2 class="first-child">{{consent.name}}</h2>
    <p>{{consent.description}}</p>

    {% for experiment in consent.experiments %}
    <section>
      <h3>{{ experiment.name}}</h3>
      <!-- <div class="col col-24" data-label="Description">{{ experiment.description}}</div> -->
      <div class="col col-44" data-label="Options">
        <ul class="consent-options">
          {% for option in experiment.options %}
          {% if option.id == experiment.chosen_option %}
          <li class="chosen"><b>{{ option.name }}</b></li>
          {% else %}
          <li>{{ option.name }}</li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endfor %}

  </div>
</div>
<div class="wrapper">
  <h1>Experiment Overview</h1>

  <div class="pane consent">
    {% for log in consent.logs %}
    <section>
      <div class="top-right">
        <div class="time">{{ log.time }}</div>
      </div>
     
      <p><strong>{{ log.type }}</strong></p>
      <p>{{ log.message }}</p>
    </section>
    {% endfor %}
    </ul>
  </div>

  {% endblock %}