{% extends 'base_user.html' %}

{% block title %}GeneConsent{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="wrapper">
  <h1>Existing Consents</h1>

  <div class="consents flow">
    {% for consent in my_set %}
    <a class="pane consent" href="{% url 'donor_app:consent' consent.token %}">
      <div class="top-right">
        <div class="token">{{ consent.token }}</div>
      </div>
      <h2 class="first-child">{{consent.name}}</h2>
      <p>{{consent.description}}</p>

      <div class="experiments">
        {% for experiment in consent.experiments %}
        <section class="experiment">
          <h3>{{ experiment.name}}</h3>
          <ul class="consent-options">
            {% for option in experiment.options %}
            {% if option.id == experiment.chosen_option %}
            <li class="chosen"><b>{{ option.name }}</b></li>
            {% else %}
            <li>{{ option.name }}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </section>
        {% endfor %}
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}