{% load sass_tags %}
{% load static %}
{% load genecoop_contract %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>GeneCoop Request for Consent</title>
  <link rel="stylesheet" type="text/css" href="{% static 'donor_app/user.css' %}">
  <link rel="stylesheet" href="{% static 'donor_app/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% sass_src 'css/style.scss' %}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static '/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static '/safari-pinned-tab.svg' %}" color="#000000">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <div class="layout">
    <nav>
      <a href="{% url 'donor_app:index' %}">
        <img id="logo" src="{% static 'images/logo.svg' %}" alt="Logo GeneConsent" />
      </a>
    </nav>

    <main class="consent_page">
      <div class="wrapper">
        <h1 class="consent_request_label">GeneCoop Agreement</h1>
        <form class="consent_request pane" action="{% url 'donor_app:sign_consent' %}" method="post">
          {% csrf_token %}
          <div id="contract">
            <h2>Consent agreement for the research entitled "<i>{{ my_consent.name }}</i>"
            </h2>
            <p>Description: {{ my_consent.description }}</p>
            <p>I agree to give my consent to <i>{{my_referent.first_name }} {{ my_referent.last_name }}</i>
              (in the following <b>Genecoop Principal Investigator</b>) from <i>{{ my_referent.institute }}</i>
              (in the following <b>Research Center</b>) for the following procedures:
            </p>

            {% for experiment in my_exps.experiments %}
            <ul class="agrees">
              {% for procedure in experiment.procedures %}
              <li>{{ procedure}}</li>
              {% endfor %}
            </ul>
            {% endfor %}
            Contract created: {{ my_consent.consent_created }}

          </div>
          <div id='action-required-genecoop-plugin'><b>Please sign the consent by clicking on "Sign" in GeneCoop's
              add-on</b></div>
          <!-- <div id='action-done-genecoop-plugin' style="display: none;visibility: hidden;"><b>Consent signed, click on 'Store agreement' to proceed</b></div> -->
          <div id="vc" style="display: none;visibility: hidden;">{{my_vc.vc}}</div>
          <footer class="consent_sign_footer">

            <input type="hidden" id="signed_vc" name="signed_vc" value="">
            <input type="hidden" id="username" name="username" value="">
            <input type="hidden" id="public_key" name="public_key" value="">
            <input type="hidden" id="token" name="token" value={{my_consent.token}}>
            <div id='action-done-genecoop-plugin' style="display: none;visibility: hidden;">
              <p>The agreement has been signed. Please proceed to store it.<br />
                You will then be redirected to the login page.</p>
              <input id="submitButton" type="submit" data-label="Submit" class="button" value="Store agreement"
                disabled />
            </div>

          </footer>
        </form>
      </div>
    </main>

    <footer>...</footer>
  </div>
</body>

</html>