{% load sass_tags %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% sass_src 'css/style.scss' %}" />
    </head>
    <body>
      <div id="layout">
        <nav>
          <a href="{% url 'donor_app:index' %}">
            <img id="logo" src="{% static 'images/logo.svg' %}" alt="Logo GeneConsent" />
          </a>
        </nav>
        <main>
          <div class="wrapper">
            <p class="introduction"><strong>GeneConsent</strong> is a digital dynamic consent key service. Gene Consent manages informed / specific consent between individuals and researchers for genomic data.</p>
            <div class="columns">
              <div class="researcher">
                <div class="pane">
                  <p>I am a researcher seeking consent for my research</p>
                  <div class="right">
                    <a class="button" href="/request/">to researcher app</a>
                  </div>
                </div>
              </div>
              <div class="donor">
                <div class="pane">
                  <p>I am a donor willing to participate in dna research</p>
                  <div class="right">
                    <a class="button" href="/consent/">to donor app</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <footer>
          ...
        </footer>
      </div>
    </body>
</html>
