{% load static %}
{% load genecoop_consent %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>GeneCoop Request for Consent</title>
    <link rel="stylesheet" type="text/css" href="{% static 'genecoop/user.css' %}">
    <link rel="stylesheet" href="{% static 'genecoop/font-awesome.min.css' %}">
</head>

<body>
    <main class="consent_page">
        <div><a href="{% url 'genecoop:index' %}">Home</a></div>
        <h1 class="consent_request_label">GeneCoop Request for Consent</h1>
        <form class="consent_request" action="{% url 'genecoop:gen_consent' %}" method="post">
            <header class="consent_request_header">
                <h2 class="consent_request_title">{{ my_request.name }}</h2>
                <p class="consent_request_description">{{ my_request.description }}</p>
                <p class="consent_request_description"><i class="organisation">{{ my_request.researcher.user.first_name }}
                        {{ my_request.researcher.user.last_name }}&nbsp;<sup><i
                                class="fa fa-briefcase"></i></sup></i> (in the following <b>Genecoop Principal
                        Investigator</b>) from <i>{{ my_request.researcher.institute }}</i> (in the following <b>Research Center</b>)
                    asks for your consent to the following procedures:
                </p>
            </header>
            {% csrf_token %}
            {% for experiment in my_exps.experiments %}
            <section class="consent_request_item">
                <h3 class="consent_request_item_title">{{ experiment.name}}</h3>
                <h4 class="consent_request_section_title">Purpose</h4>
                <p class="consent_request_section_text">{{ experiment.description }}</p>
                <h4 class="consent_request_section_title">What does it mean for my personal data?</h4>
                <ul>
                    {% for procedure in experiment.procedures %}
                    <li>{{ procedure}}</li>
                    {% endfor %}
                </ul>
                <br />
                <strong>
                    <div data-label="Options" {%if experiment.required %} class="mandatory" {% endif %}>
                        I agree to this:&nbsp;
                        {% for option in experiment.options %}
                        <label for="{{ experiment.key }}">{{ option.name }}</label>
                        <input type="radio" name="option-{{ experiment.key }}" id="{{ experiment.key }}"
                            value="{{ option.key }}" onchange="return onAgreementChange(event);">
                        {% endfor %}
                    </div>
                </strong>
                <br />
                ({% if experiment.required == True %}Required{% else %}Optional{% endif %})

            </section>
            {% endfor %}
            <section>
                <h2>Summary of procedures</h2>
                <p>As part of {{ my_request.name }} conducted by Genecoop Principal Investigator I agree to the
                    following:
                <ul id="procedures">
                    {% for experiment in my_exps.experiments %}
                    {% for procedure in experiment.procedures %}
                    <li style="display:none" class="op_{{experiment.key}}">{{ procedure }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </section>

            <footer class="consent_sign_footer">
                <input type="hidden" id="token" name="token" value={{my_request.token}}>
                <input id="submitButton" type="submit" data-label="Submit" class="button" value="Generate agreement"
                    disabled />
            </footer>
        </form>
    </main>
    <script type="text/javascript" src="{% static 'genecoop/user.js' %}"></script>
</body>

</html>