{% extends 'base_user.html' %}

{% block title %}GeneCoop Consent Overview{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container">
    <h2>Existing Consents</h2>

    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-a">Name of Consent</div>
            <div class="col col-b">Operations</div>
        </li>
        {% for consent in my_set %}
        <li class="table-row">
            <div class="col col-a" data-label="Name"><a href="{% url 'genecoop:consent' consent.token %}">{{consent.text}}</a></div>
            <div class="col col-b" data-label="Operations">
                <ul class="responsive-table">
                    {% for operation in consent.operations %}
                    <li class="table-row">
                        <div class="col col-1" data-label="Name">{{ operation.text}}</div>
                        <!-- <div class="col col-2" data-label="Description">{{ operation.description}}</div> -->
                        <div class="col col-3" data-label="Options">
                            <ul>
                                {% for option in operation.options %}
                                {% if option.key == operation.chosen_option %}
                                <li id="minim"><b>{{ option.text }}</b></li>
                                {% else %}
                                <li id="minim">{{ option.text }}</li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}