{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sign Consent</title>
    <link rel="stylesheet" type="text/css" href="{% static 'genecoop/style.css' %}">
</head>

<body>
    <div><a href="{% url 'genecoop:index' %}">Home</a></div>

    <div class="container">
        <h2>Sign Consent {{consent.name}} </h2>

        <form action="{% url 'genecoop:signconsent' %}" method="post">
            {% csrf_token %}
            <ul class="responsive-table">
                <li class="table-header">
                    <div class="col col-1">Name of Operation</div>
                    <div class="col col-2">Operation Description</div>
                    <div class="col col-3">Options</div>
                </li>
                {% for operation in consent.operations.all %}
                <li class="table-row">
                    <div class="col col-1" data-label="Name">{{ operation.name}}</div>
                    <div class="col col-2" data-label="Description">{{ operation.description}}</div>
                    <div class="col col-3" data-label="Options">
                        <ul>
                            {% for option in operation.option_set.all %}
                            <li id="minim">
                                <label for="{{ operation.key }}">{{ option.text }}</label>
                                <input type="radio" name="option-{{ operation.key }}" id="{{ operation.key }}" value="{{ option.id }}">
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% endfor %}
                <li class="table-row">
                    <input type="hidden" id="consentID" name="consentID" value={{consent.token}}>
                    <div class="col col-1" data-label="Submit"><input type="submit" value="Sign Consent"></div>
                </li>
            </ul>
        </form>
    </div>
</body>

</html>
