asgiref==3.3.4
attrs==20.3.0
cachetools==4.2.2
certifi==2020.12.5
chardet==4.0.0
Django==3.2.4
django-extensions==3.1.0
djangorestframework==3.12.2
frozendict==2.0.2
idna==2.10
iniconfig==1.1.1
ipython-genutils==0.2.0
isodate==0.6.0
lxml==4.6.3
packaging==20.9
pluggy==0.13.1
py==1.10.0
PyLD==2.0.3
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
pytz==2020.5
rdflib==5.0.0
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
traitlets==5.0.5
urllib3==1.26.4
zenroom==2.0.0.dev1616540261
libsass==0.21.0
django-compressor==2.4.1 
django-sass-processor==1.0.1 
