{% extends 'base_res.html' %}

{% block title %}Request{% endblock %}


{% block content %}

<div class="wrapper">
    
    <h2>Answered Requests</h2>

    <div class="flow">

        {% if my_set.requests %}
            {% for request in my_set.requests %}
                {% if request.status == 'REPLIED' %}
                <div class="pane">
                    <h3 data-label="Name">
                        <a href="{% url 'researcher_app:request' request.id %}">{{request.name }}</a>
                    </h3>
                    <div data-label="Description">{{ request.description }}</div>
                    <div data-label="Experiments">
                        {% for experiment in request.experiments %}
                        <ul>
                            {% if experiment.chosen_option != -1 %}
                            <li id="minim">{{ experiment.name }} : {{experiment.chosen_option_name}}</li>
                            {% else %}
                            <li id="minim">{{ experiment.name }}</li>
                            {% endif %}
                        </ul>
                        {% endfor %}
                    </div>
                    <div data-label="Token"><a href="../docs/{{ request.token }}">{{ request.token }}</a></div>
                    <!-- <div class="col col-5" data-label="Status">{{ request.status }}</div> -->
                </li>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="pane">No requests are available.</div>
        {% endif %}
    </div>
</div>

{% endblock %}
