{% extends 'base_res.html' %}

{% block title %}GeneConsent - Requests{% endblock %}


{% block content %}

<div class="wrapper">
    <h1>Pending Requests</h1>

    <div class="requests flow">
        {% if my_set.requests %}
        {% for request in my_set.requests %}
            <a class="pane request" href="{% url 'researcher_app:request' request.id %}">
                <div class="top-right">
                  <div class="token">{{ request.token }}</div>
                </div>
                <h2>{{ request.name }}</h2>
                <div>{{ request.description }}</div>
                <ul class="experiments-requested">
                    {% for experiment in request.experiments %}
                        {% if experiment.chosen_option != -1 %}
                        <li>{{ experiment.name }} : {{experiment.chosen_option_name}}</li>
                        {% else %}
                        <li>{{ experiment.name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </a>
        {% endfor %}
        {% else %}
        <div class="pane">No pending requests.</div>
        {% endif %}
    </div>

{% endblock %}
