{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>GeneConsent</title>
    <link rel="stylesheet" href="{% sass_src 'css/style.scss' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static '/safari-pinned-tab.svg' %}" color="#000000">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="page__login researcher">

    {% if request.user.is_authenticated %}

    {% include "header_res.html" %}

    {% else %}

    <div class="wrapper">
        <div id="formContent" class="pane">
            <img id="logo" src="{% static 'images/logo.svg' %}" alt="Logo GeneConsent" />

            <div id="no-genecoop-plugin">
                <p class="instruction">
                    You need GeneCoop add-on to login.<br />
                    Click <a href="/static/researcher_app/genecoop_research.xpi">here</a> to install it.
                </p>
            </div>

            <div id="yes-genecoop-plugin" style="display: none; visibility: hidden;">
                <div id="action-required-genecoop-plugin">
                    <p class="instruction">Please 'Login' from your GeneCoop add-on.<br /></p>
                </div>
                <div id="action-done-genecoop-plugin" style="display: none; visibility: hidden;">
                    <p class="instruction">Click Proceed to continue.<br /></p>
                </div>

                <form class="form-one-line" action="{% url 'researcher_app:check_login' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="challenge" name="challenge" value={{ challenge }}>
                    <input type="text" id="username" name="username" placeholder="" readonly>
                    <input type="hidden" id="response" name="response" placeholder="response">
                    <button id="proceedButton" type="submit" style="visibility:hidden;">Proceed</button>
                </form>

            </div>

        </div>
    </div>

    {% endif %}