{% extends 'base_res.html' %}

{% block title %}Profile{% endblock %}


{% block content %}

<div class="container">
    <h2>Profile</h2>

    <form action="{% url 'researcher_app:fill_profile' %}" method="post">
        {% csrf_token %}
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-1">Name</div>
                <div class="col col-2">Email</div>
                <div class="col col-4">Institute</div>
            </li>
            <li class="table-row">
                <div class="col col-1" data-label="Name"><input type="text" id="name" name="name" value="{{ researcher.name }}"></div>
                <div class="col col-2" data-label="Email"><input type="text" id="email" name="email" value="{{ researcher.email }}"></div>
                <div class="col col-4" data-label="Institute"><input type="text" id="institute" name="institute" value="{{ researcher.institute }}"></div>
            </li>
            <li class="table-row">
                <div class="col col-1" data-label="Submit"><input type="submit" value="Submit"></div>
            </li>
        </ul>
    </form>
</div>

{% endblock %}