{% extends 'base_res.html' %}

{% block title %}GeneConsent - Profile{% endblock %}


{% block content %}

<div class="wrapper">
    <h1>Profile</h1>

    <form class="pane flow" action="{% url 'researcher_app:fill_profile' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" value="{{ researcher.name }}">
        </div>

        <div class="form-row">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" value="{{ researcher.email }}">
        </div>

        <div class="form-row">
          <label for="institute">Institute</label>
          <input type="text" id="institute" name="institute" value="{{ researcher.institute }}">
        </div>

        <div class="form-buttons">
          <button type="submit">Update profile</button>
        </div>

    </form>
</div>

{% endblock %}