{% extends 'base_res.html' %}

{% block title %}Request{% endblock %}


{% block content %}

<div class="wrapper">
    <h1 data-label="name">{{ request.name }}</h1>

    <div class="pane">
        <p data-label="description">{{ request.description }}</p>

        <div data-label="token">{{ request.token }}</div>
        <div data-label="status">{{ request.status }}</div>

        <h2>Experiments</h2>
        <div class="flow">
            {% for experiment in request.experiments %}
            <div>
                <h3 data-label="Name">{{experiment.name }}</h3>
                <div data-label="Description">{{ experiment.description }}</div>
                <div data-label="Consent">
                    {% if experiment.chosen_option != -1 %}
                    {{experiment.chosen_option_name}}
                    {% else %}
                    No reply
                    {% endif %}
                </div>
                <div data-label="Reply">{{ experiment.reply }}</div>
                <div data-label="Submit">
                    {% if request.status == "REPLIED" %}
                    <form action="{% url 'researcher_app:perform_action' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="Token" name="Token" value={{request.token}}>
                        <input type="hidden" id="experimentId" name="experimentId" value={{experiment.id}}>
                        <input type="submit" value="Run Analysis">
                    </form>
                    {% else %}
                    No experiment possible
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</div>

{% endblock %}