{% extends 'base_res.html' %}

{% block title %}Request{% endblock %}


{% block content %}

<div class="container">
    <h2>Request</h2>


    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-14">Name of Request</div>
            <div class="col col-24">Request Description</div>
            <!-- <div class="col col-3">User id</div> -->
            <div class="col col-34">Token</div>
            <div class="col col-44">Status</div>

        </li>
        <li class="table-row">
            <div class="col col-14" data-label="name">{{ request.name }}</div>
            <div class="col col-24" data-label="description">{{ request.description }}</div>
            <!-- <div class="col col-3" data-label="userid">{{ request.user_id }}</div> -->
            <div class="col col-34" data-label="token">{{ request.token }}</div>
            <div class="col col-44" data-label="status">{{ request.status }}</div>
        </li>
    </ul>
    
    <h2>Experiments</h2>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-15">Name of Experiment</div>
            <div class="col col-25">Experiment Description</div>
            <div class="col col-35">Consent</div>
            <div class="col col-45">Reply</div>
            <div class="col col-55">Action</div>
        </li>
        {% for experiment in request.experiments %}
        <li class="table-row">
            <div class="col col-15" data-label="Name">{{experiment.name }}</div>
            <div class="col col-25" data-label="Description">{{ experiment.description }}</div>
            <div class="col col-35" data-label="Consent">
                {% if experiment.chosen_option != -1 %}
                {{experiment.chosen_option_name}}
                {% else %}
                No reply
                {% endif %}
            </div>
            <div class="col col-45" data-label="Reply">{{ experiment.reply }}</div>
            <div class="col col-55" data-label="Submit">
                {% if request.status == "REPLIED" %}
                <form action="{% url 'researcher_app:perform_action' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="Token" name="Token" value={{request.token}}>
                    <input type="hidden" id="experimentId" name="experimentId" value={{experiment.id}}>
                    <input type="submit" value="Run Analysis">
                </form>
                {% else %}
                No experiment possible
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>


</div>

{% endblock %}