{% extends 'base_res.html' %}

{% block title %}GeneConsent - Request signature{% endblock %}


{% block content %}

<div class="wrapper">
    <h1>Request signature</h1>

    <form class="pane request" action="{% url 'researcher_app:store_request' %}" method="post">
        {% csrf_token %}

        <h2 class="first-child">{{ request.name }}</h2>
        <p>{{ request.description }}</p>

        <h3>Experiments</h3>
        <ul class="experiments-requested">
          {% for experiment in request.experiments %}
          <li>{{ experiment.name }}</li>
          {% endfor %}
        </ul>

        <h3>{% if request.token_data|length > 1 %} Tokens {% else %} Token {% endif %}</h3>
        <ul>
            {% for token_datum in request.token_data %}
            <li>{{ token_datum.token }}</li>
            {% endfor %}
        </ul>

        {% for token_datum in request.token_data %}
        <input type="hidden" id="signature-{{ token_datum.token }}" name="signature-{{ token_datum.token }}" value="">
        <input type="hidden" id="token" name="token" value="{{ token_datum.token }}">
        <input type="hidden" id="token_time-{{ token_datum.token }}" name="token_time-{{ token_datum.token }}" value="{{ token_datum.token_time }}">
        {% endfor %}
        <input type="hidden" name="name" value="{{ request.name }}">
        <input type="hidden" name="description" value="{{ request.description }}">
        {% for experiment in request.experiments %}
        <input type="hidden" name="experiments" value="{{ experiment.id }}">
        {% endfor %}
        <p id="action-required-genecoop-plugin" class="space instruction">
            Please 'Sign' this request with your GeneCoop add-on.
        </p>
        <p id="action-done-genecoop-plugin" class="space instruction" style="display: none;visibility: hidden;">
            Signing successful. Click on 'Proceed' to continue.
        </p>
        <div class="form-buttons">
          <input id="submit" type="submit" value="Proceed" disabled>
        </div>
    </form>

</div>

{% endblock %}
